/node_modules
.cache
.github

.DS_Store

/dist
/src
/example
/tests
coverage

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.json
tsconfig.*.json
jest.json

.travis.yml
.prettierrc
.eslintrc.json
.eslintignore
